@charset "utf-8";
/*****etc*****/
.list-style-none{list-style:none;}
.decoration-none{text-decoration:none;}
.cf:after{content:''; display:block; clear:both;}
.txt-overflow{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.vertical-m{display:block; position:relative; line-height:normal; top:50%; transform:translateY(-50%); height:auto; word-break:break-all;}
.table-fixed{table-layout:fixed;}
.border-box{box-sizing:border-box;}
.scroll-pattern1 > *{position:relative;}
.pointer-e-none{pointer-events:none;}
a.txt-deco-none, a.txt-deco-none:hover{text-decoration:none;}

input[type="number"].no-btn::-webkit-outer-spin-button,
input[type="number"].no-btn::-webkit-inner-spin-button {
    -webkit-appearance: none; margin: 0;
}

.txt-ellipsis{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.select-none{user-select:none;}

.perspective1500{perspective:1500px;}

.no-resize{resize:none;}

.line-through{text-decoration:line-through;}


.media-mx-w480-block, .media-mx-w992-block{display:none;}
.btn-65bb00{color: #fff; background-color: #65bb00; border-color: #65bb00;}

.postit-effect1{border-bottom-right-radius: 50px 20px; position:relative;}
.postit-effect1:after{
	content:''; position:absolute; bottom:25px; right:0; width:50px; height:20px; box-shadow:2px 27px 5px #00000066;
	transform:matrix(-1, -0.1, 0, 1, 0, 0); z-index:-1; background:transparent;
}

.ro-cell-row{border-top:1px solid;}
.ro-cell-row:last-child{border-bottom:1px solid;}
.ro-cell-row:after{content:''; display:block; clear:both;}
.ro-cell-col{float:left; border-left:1px solid;}
.ro-cell-row .ro-cell-col:last-child{border-right:1px solid;}

.td-border-ccc td, .th-border-ccc th{border:1px solid #ccc;}


.input-style1{	/*IE에서는 안먹히는 듯...*/
	padding:3px;
	position:relative;
	height:38px;
	display:inline-block;
	box-sizing:border-box;
}
.input-style1 input{
	border:0;
	outline:0;
	display:inline-block;
	width:100%;
	height:18px;
	position:relative;
	top:10px;
	font-size:12px;
	background:0;
	color:#000;
	border-bottom:1px dashed transparent;
	z-index:1;
	box-sizing:border-box;
}

.input-style1 span{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border:1px solid #eee;
	box-sizing:border-box;
	display:inline-block;
}
.input-style1 strong{
	display:inline-block;
	position:absolute;
	top:10px;
	z-index:1;
	left:4px;
	transform:rotateX(0);
	transition:.2s cubic-bezier(0.9, -0.9, 0.1, 1.9);
}

.input-style1 input:focus,
.input-style1 input:not(:placeholder-shown){
	border:0;
	border-bottom:1px dashed;
	transition:all .5s;
}

.input-style1 input:focus + strong,
.input-style1 input:not(:placeholder-shown) + strong{
	top:3px;
	font-size:10px;
	transition:.2s cubic-bezier(0.9, -0.9, 0.1, 1.9);
	transform:rotateX(360deg);
	/* text-shadow:0 0 8px; */
}

.input-style1 input:focus ~ span{
	box-shadow:0 0 3px #00f;
}

.input-style1 input:disabled + strong{
	color:#aaa;
}
		
		

/*****etc*****/

/*****float*****/
.float-l{float:left;}
.float-r{float:right;}
/*****float*****/

/*****align*****/
.txt-l{text-align:left;}
.txt-c{text-align:center;}
.txt-r{text-align:right;}

.v-top{vertical-align:top;}
.v-middle{vertical-align:middle;}
.v-bottom{vertical-align:bottom;}
/*****align*****/

/*****diplay*****/
.inline-block{display:inline-block;}
.block{display:block;}
.BLOCK{display:block!important;}
.none{display:none;}
/*****diplay*****/

/*****width/height*****/
.wh18{width:18px; height:18px;}
/*****width/height*****/
/*****width*****/
.w0_037037p{width:0.037037%;}
.w10p{width:10%;}
.w11_1111p{width:11.1111%;}
.w15p{width:15%;}
.w18p{width:18%;}
.w20p{width:20%;}
.w25p{width:25%;}
.w33_3333p{width:33.3333%;}
.w30p{width:30%;}
.w40p{width:40%;}
.w48p{width:48%;}
.w50p{width:50%;}
.w60p{width:60%;}
.w70p{width:70%;}
.w80p{width:80%;}
.w90p{width:90%;}
.w100p{width:100%;}
.w300p{width:300%;}
.w400p{width:400%;}

/*calc 가급적 쓰지 말 것*/
.w50p-10{width:calc(50% - 10px);}
.w100p-15{width:calc(100% - 15px);}
.w100p-30{width:calc(100% - 30px);}
.w100p-70{width:calc(100% - 70px);}
.W100P-74{width:calc(100% - 74px)!important;}
.w100p-80{width:calc(100% - 80px);}
.w100p-95{width:calc(100% - 95px);}
.w100p-100{width:calc(100% - 100px);}
.w100p-110{width:calc(100% - 110px);}
.w100p-115{width:calc(100% - 115px);}
.w100p-120{width:calc(100% - 120px);}
.w100p-130{width:calc(100% - 130px);}
.w100p-140{width:calc(100% - 140px);}
.w100p-180{width:calc(100% - 180px);}
.w100p-210{width:calc(100% - 210px);}
.w100p-310{width:calc(100% - 310px);}
.w100p-360{width:calc(100% - 360px);}
.w100p-440{width:calc(100% - 440px);}

.w10{width:10px;}
.w15{width:15px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w65{width:65px;}
.w70{width:70px;}
.w75{width:75px;}
.w80{width:80px;}
.w90{width:90px;}
.w91{width:91px;}
.w92{width:92px;}
.w97{width:97px;}
.w98{width:98px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w123{width:123px;}
.w127{width:127px;}
.w130{width:130px;}
.w137{width:137px;}
.w138{width:138px;}
.w140{width:140px;}
.w148{width:148px;}
.W148{width:148px!important;}
.w150{width:150px;}
.W150{width:150px!important;}
.w158{width:158px;}
.W160{width:160px!important;}
.w170{width:170px;}
.w180{width:180px;}
.w194{width:194px;}
.w200{width:200px;}
.w201{width:201px;}
.w206{width:206px;}
.w210{width:210px;}
.w216{width:216px;}
.w240{width:240px;}
.w250{width:250px;}
.w261{width:261px;}
.w264{width:264px;}
.W266{width:266px!important;}
.w270{width:270px;}
.w275{width:275px;}
.w276{width:276px;}
.w280{width:280px;}
.w300{width:300px;}
.w310{width:310px;}
.w360{width:360px;}
.w390{width:390px;}
.w400{width:400px;}
.w428{width:428px;}
.w450{width:450px;}
.w600{width:600px;}
.w700{width:700px;}
.w750{width:750px;}
.w900{width:900px;}
.w1500{width:1500px;}

.w90vmin{width:90vmin;}

.w18rem{width:18rem;}
.w20rem{width:20rem;}

.min-w273{min-width:273px;}
.min-w290{min-width:290px;}
.min-w320{min-width:320px;}
/*****width*****/

/*****height*****/
.h1px{height:1px;}	/*부트스트랩 h1와 중복으로 인해*/
.h3px{height:3px;}	/*부트스트랩 h3와 중복으로 인해*/
.h5px{height:5px;}	/*부트스트랩 h5와 중복으로 인해*/
.h10{height:10px;}
.h15{height:15px;}
.h18{height:18px;}
.h20{height:20px;}
.h24{height:24px;}
.h26{height:26px;}
.h29{height:29px;}
.h30{height:30px;}
.h40{height:40px;}
.h44{height:44px;}
.h45{height:45px;}
.h46{height:46px;}
.h50{height:50px;}
.h56{height:56px;}
.h60{height:60px;}
.h68{height:68px;}
.h70{height:70px;}
.h75{height:75px;}
.h93{height:93px;}
.h94{height:94px;}
.h100{height:100px;}
.h120{height:120px;}
.h135{height:135px;}
.h150{height:150px;}
.h178{height:178px;}
.h180{height:180px;}
.h160{height:160px;}
.h200{height:200px;}
.h230{height:230px;}
.h240{height:240px;}
.h250{height:250px;}
.h300{height:300px;}
.h400{height:400px;}
.h450{height:450px;}
.h500{height:500px;}

.h90vmin{height:90vmin;}

.h100vh{height:100vh;}

.h12_5p{height:12.5%;}
.h20p{height:20%;}
.h25p{height:25%;}
.h50p{height:50%;}
.h100p{height:100%;}

.h100p-34{height:calc(100% - 34px);}
.h100p-36{height:calc(100% - 36px);}
.h100p-46{height:calc(100% - 46px);}

.min-h50, .mn-h50{min-height:50px;}
.min-h180, .mn-h180{min-height:180px;}
.min-h200, .mn-h200{min-height:200px;}
.min-h250, .mn-h250{min-height:250px;}
.min-h300, .mn-h300{min-height:300px;}

.min-h100p, .mn-h100p{min-height:100%;}
.min-h100p-250, .mn-h100p-250{min-height:calc(100% - 250px);}

.min-h100vh{min-height:100vh;}

.max-h200, .mx-h200{max-height:200px;}
.max-h250, .mx-h250{max-height:250px;}
.max-h300, .mx-h300{max-height:300px;}
/*****height*****/


/*****width/height*****/
.wh100p{width:100%; height:100%;}
/*****width/height*****/

/*****line-height*****/
.line-h15px{line-height:15px;}
.line-h18px{line-height:18px;}
.line-h20px{line-height:20px;}
.line-h30px{line-height:30px;}
.line-h40px{line-height:40px;}
.line-h45px{line-height:45px;}
.line-h50px{line-height:50px;}
.line-h68px{line-height:68px;}
/*****line-height*****/


/*****font-size*****/
.font-size-init{font-size:initial;}
.font10{font-size:10px;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font17{font-size:17px;}
.font18{font-size:18px;}
.font22{font-size:22px;}
.font24{font-size:24px;}
.font25{font-size:25px;}
.font26{font-size:26px;}
.font30{font-size:30px;}
.font50{font-size:50px;}
.font60{font-size:60px;}

.font1rem{font-size:1rem;}
.font1_1rem{font-size:1.1rem;}
.font1_2rem{font-size:1.2rem;}
.font1_3rem{font-size:1.3rem;}
.font1_5rem{font-size:1.5rem;}
.font1_8rem{font-size:1.8rem;}
.font2rem{font-size:2rem;}
.font2_4rem{font-size:2.4rem;}
.font3rem{font-size:3rem;}
.font5rem{font-size:5rem;}
/*****font-size*****/

/*****font-weight*****/
.font-w900{font-weight:900;}
/*****font-weight*****/

/*****cursor*****/
.pointer{cursor:pointer;}
/*****cursor*****/

/*****margin/padding*****/
.mp0{margin:0; padding:0;}
/*****margin/padding*****/

/*****margin*****/
.mg-10{margin:-10px;}
.mg0{margin:0;}
.MG0{margin:0!important;}
.mg0auto{margin:0 auto;}

.mg-t-5{margin-top:-5px;}
.mg-t-6{margin-top:-6px;}
.mg-t-7{margin-top:-7px;}
.mg-t-10{margin-top:-10px;}
.mg-t-75{margin:-75px;}

.mg-t0{margin-top:0;}
.mg-t1{margin-top:1px;}
.mg-t3{margin-top:3px;}
.mg-t5{margin-top:5px;}
.mg-t6{margin-top:6px;}
.mg-t8{margin-top:8px;}
.mg-t10{margin-top:10px;}
.mg-t11{margin-top:11px;}
.mg-t15{margin-top:15px;}
.mg-t20{margin-top:20px;}
.mg-t80{margin-top:80px;}

.mg-l5{margin-left:5px;}
.mg-l10{margin-left:10px;}

.mg-r-10{margin-right:-10px;}
.mg-r-30{margin-right:-30px;}
.mg-r-80{margin-right:-80px;}

.mg-r3{margin-right:3px;}
.mg-r5{margin-right:5px;}
.MG-R5{margin-right:5px!important;}
.mg-r10{margin-right:10px;}
.mg-r15{margin-right:15px;}
.mg-r20{margin-right:20px;}

.mg-b0{margin-bottom:0;}
.mg-b3{margin-bottom:3px;}
.mg-b5{margin-bottom:5px;}
.mg-b10{margin-bottom:10px;}
.mg-b20{margin-bottom:20px;}
.mg-b50{margin-bottom:50px;}
.mg-b200{margin-bottom:200px;}

.mg-h-auto{margin-left:auto; margin-right:auto;}

.mg-h-3{margin-left:-3px; margin-right:-3px;}
.mg-h-5{margin-left:-5px; margin-right:-5px;}
.mg-h-10{margin-left:-10px; margin-right:-10px;}
.mg-h-20{margin-left:-20px; margin-right:-20px;}

.mg-h3{margin-left:3px; margin-right:3px;}
.mg-h5{margin-left:5px; margin-right:5px;}
.mg-h10{margin-left:10px; margin-right:10px;}
.mg-h15{margin-left:15px; margin-right:15px;}
.mg-h20{margin-left:20px; margin-right:20px;}
.mg-h30{margin-left:30px; margin-right:30px;}

.mg-h10p{margin-left:10%; margin-right:10%;}


.mg-v3{margin-top:3px; margin-bottom:3px;}
.mg-v5{margin-top:5px; margin-bottom:5px;}
.mg-v15{margin-top:15px; margin-bottom:15px;}
.mg-v20{margin-top:20px; margin-bottom:20px;}
.mg-v50{margin-top:50px; margin-bottom:50px;}
/*****margin*****/

/*****padding*****/
.pd0{padding:0;}
.pd1{padding:1px;}
.pd3{padding:3px;}
.pd5{padding:5px;}
.pd10{padding:10px;}
.pd20{padding:20px;}

.pd-h5{padding-left:5px; padding-right:5px;}
.pd-h10{padding-left:10px; padding-right:10px;}
.pd-h20{padding-left:20px; padding-right:20px;}

.pd-v5{padding-top:5px; padding-bottom:5px;}
.pd-v10{padding-top:10px; padding-bottom:10px;}
.pd-v20{padding-top:20px; padding-bottom:20px;}

.pd-t3{padding-top:3px;}
.pd-t5{padding-top:5px;}
.pd-t10{padding-top:10px;}
.pd-t17{padding-top:17px;}
.pd-t20{padding-top:20px;}
.pd-t30{padding-top:30px;}
.pd-t44{padding-top:44px;}
.pd-t45{padding-top:45px;}
.pd-t50{padding-top:50px;}
.pd-t100{padding-top:100px;}
.pd-t150{padding-top:150px;}

.pd-b5{padding-bottom:5px;}
.pd-b10{padding-bottom:10px;}
.pd-b20{padding-bottom:20px;}
.pd-b50{padding-bottom:50px;}
.pd-b150{padding-bottom:150px;}

.pd-l5{padding-left:5px;}
.pd-l10{padding-left:10px;}
.pd-l16{padding-left:16px;}
.pd-l20{padding-left:20px;}
.pd-l30{padding-left:30px;}

.pd-v1-h6, .pd-h6-v1{padding:1px 6px;}
.pd-v3-h6, .pd-h6-v3{padding:3px 6px;}
.pd-v15-h10, .pd-h10-v15{padding:15px 10px;}
.pd-v10-h5, .pd-h5-v10{padding:10px 5px;}
.pd-v5-h10, .pd-h10-v5{padding:5px 10px;}
/*****padding*****/


/*****position*****/
.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed;}
/*****position*****/

/*****offset*****/
.top-75{top:-75px;}
.top-50{top:-50px;}
.top-30{top:-30px;}
.top-20{top:-20px;}
.top-10{top:-10px;}
.TOP-10{top:-10px!important;}
.top0{top:0;}
.top10{top:10px;}
.top50{top:50px;}

.top50p{top:50%;}

.left0{left:0;}
.left5{left:5px;}
.left-50{left:-50px;}

.left50p{left:50%;}

.right0{right:0;}
.RIGHT0{right:0!important;}
.right-200{right:-200px;}
.RIGHT-200{right:-200px!important;}

.bottom-100{bottom:-100px;}
.bottom0{bottom:0;}
.bottom5{bottom:5px;}
.bottom10{bottom:10px;}
.bottom20{bottom:20px;}
/*****offset*****/

/*****overflow*****/
.overflow-hidden{overflow:hidden;}
.overflow-x-scroll{overflow-x:scroll;}
.overflow-x-auto{overflow-x:auto;}
.overflow-y-scroll{overflow-y:scroll;}
.overflow-y-auto{overflow-y:auto;}
.overflow-y-hidden{overflow-y:hidden;}
/*****overflow*****/

/*****background*****/
.bg-000, .bg-black{background:#000;}
.bg-000-0_5, .bg-black-0_5{background:rgba(0,0,0,.5);}
.bg-000-0_3, .bg-black-0_3{background:rgba(0,0,0,.3);}
.bg-000-0_01, .bg-black-0_01{background:rgba(0,0,0,.01);}
.bg-snow{background:snow;}
.bg-honeydew{background:honeyDew;}
.bg-linen{background:linen;}
.bg-green{background:green;}
.bg-lime, .bg-00f{background:lime;}
.bg-chartreuse{background:chartreuse;}
.bg-aquamarine{background:aquamarine;}
.bg-f0{background:#f0f0f0;}
.bg-ccc{background:#ccc;}
.bg-cff{background:#cff;}
.bg-eee{background:#eee;}
.bg-ef0{background:#ef0;}
.bg-fff, .bg-white{background:#fff;}
.BG-FFF, .BG-WHITE{background:#fff!important;}
.bg-fff-0_5{background:rgba(255, 255, 255, .5);}
.bg-fff-0_8{background:rgba(255, 255, 255, .8);}
.bg-65bb00{background:#65bb00;}
.bg-f5f7f2{background:#f5f7f2;}
.bg-f6{background:#f6f6f6;}
.bg-3758e3{background:#3758e3;}
.bg-5ecf5e{background:#5ecf5e;}
.bg-51b651{background:#51b651;}
.bg-6ec700{background:#6ec700;}
.bg-8c543b{background:#8c543b;}
.bg-999{background:#999;}
.bg-f3d92d{background:#f3d92d;}
.bg-fe5d10{background:#fe5d10;}
.bg-darkslategray{background:darkSlateGray;}
.bg-yellow, .bg-ff0{background:yellow;}
.bg-deeppink, .bg-deepPink{background:deepPink;}
.bg-f4eef4{background:#f4eef4;}
.bg-fee{background:#fee;}
.bg-fdd{background:#fdd;}
.BG-FDD{background:#fdd!important;}
.bg-6d412d{background:#6d412d;}
.bg-6d412d{background:#c78912;}
.bg-cce4cc{background:#cce4cc;}

.bg-f00, .bg-red{background:#f00;}

/*****background*****/

/*****color*****/
.color-000, .color-black{color:#000;}
.COLOR-000, .COLOR-BLACK{color:#000!important;}
.color-fff, .color-white{color:#fff;}
.COLOR-FFF, .COLOR-WHITE{color:#fff!important;}
.color-f00, .color-red{color:#f00;}
.color-blue{color:blue;}
.color-ccc{color:#ccc;}
.color-green{color:green;}
.color-bbb{color:#bbb;}
.color-030{color:#030;}
.color-65bb00{color:#65bb00;}
.color-lime{color:lime;}
.color-yellow, .color-ff0{color:#ff0;}
.color-gold{color:gold;}
.color-orange{color:orange;}
.color-5ecf5e{color:#5ecf5e;}
.color-42c7d5{color:#42c7d5;}
.COLOR-5ECF5E{color:#5ecf5e!important;}
.color-51b651{color:#51b651;}
/*****color*****/

/*****z-index*****/
.z-idx1{z-index:1;}
.z-idx2{z-index:2;}
.z-idx3{z-index:3;}
.z-idx4{z-index:4;}
/*****z-index*****/

/*****border*****/
.border0{border:0;}
.border-{border:1px solid;} /*부트스트랩 border와 중복으로 인해*/
.border-2{border:2px solid;}
.border-dashed{border:1px dashed;}
.border-dashed-999{border:1px dashed #999;}
.border-dashed-ccc{border:1px dashed #ccc;}
.border-dashed-eee{border:1px dashed #eee;}
.border-dashed-fff{border:1px dashed #fff;}
.border-dotted{border:1px dotted;}
.border-000{border:1px solid #000;}
.border-ccc{border:1px solid #ccc;}
.border-eee{border:1px solid #eee;}
.border-fff{border:1px solid #fff;}
.border-red, .border-f00{border:1px solid red;}
.border-5ecf5e{border:1px solid #5ecf5e;}
.border-65bb00{border:1px solid #65bb00;}
.border-t0{border-top:0;}
.border-t-ccc{border-top:1px solid #ccc;}
.border-t-dashed-gray{border-top:1px dashed gray;}
.border-t{border-top:1px solid;}
.border-b{border-bottom:1px solid;}
.border-b-ccc{border-bottom:1px solid #ccc;}
.border-b-ddd{border-bottom:1px solid #ddd;}
.border-b-eee{border-bottom:1px solid #eee;}
.border-b-dashed-ccc{border-bottom:1px dashed #ccc;}
.border-b-dashed-eee{border-bottom:1px dashed #eee;}
.border-t-65bb00{border-top:1px solid #65bb00;}
.border-l-ccc{border-left:1px solid #ccc;}
.border-r-ccc{border-right:1px solid #ccc;}
.border-t3-65bb00{border-top:3px solid #65bb00;}

.border-v-ccc{border-top:1px solid #ccc; border-bottom:1px solid #ccc;}

.radius3{border-radius:3px;}
.radius10{border-radius:10px;}
.radius20{border-radius:20px;}
.radius30{border-radius:30px;}
.radius50p{border-radius:50%;}

.outline0{outline:0;}
/*****border*****/

/*****transform*****/
.translate-x-50p{transform:translateX(-50%);}
.translate-50p{transform:translate(-50%, -50%);}
.rotate45{transform:rotate(45deg);}
.rotate-45{transform:rotate(-45deg);}
.rotate-x45{transform:rotateX(45deg);}
.rotate-y0{transform:rotateY(0);}
.rotate-y90{transform:rotateY(90deg);}
.scale0{transform:scale(0);}
.scale5{transform:scale(5);}
.scale10{transform:scale(10);}
.skew-x-45{transform:skewX(-45deg);}
.skew-x45{transform:skewX(45deg);}
/*****transform*****/

/*****pattern*****/
.box-shadow-pattern1{box-shadow:0 0 .5em #ddd;}
.bg-pattern1{background:url('/resources/hospital/img/pattern1.png');}
.hr-pattern1{border-top:2px solid #65bb00;}
/*****pattern*****/

/*****opacity*****/
.op0{opacity:0;}
/*****opacity*****/




/*****hover*****/
.hover-bg-b1f0b1:hover{background:#b1f0b1;}
.hover-color-fff:hover{color:#fff;}
/*****hover*****/





/*****media*****/
@media (max-width:1280px){
}
@media (max-width:1199px){
	.media-mx-w15rem{width:15rem;}
	.media-mx-w1199-mg-r-80{margin-right:-80px;}
	.media-mx-w1199-block{display:block;}
}
@media (max-width:992px){	/*태블릿*/
	.media-mx-w992-none{display:none;}
	.media-mx-w992-block{display:block;}
	
	.media-mx-w992-w20p{width:20%;}
	.media-mx-w992-w50p{width:50%;}
	.media-mx-w992-w80p{width:80%;}
	.media-mx-w992-w100p{width:100%;}
	
	.media-mx-w992-h90{height:90px;}
	
	.media-mx-w992-border-b-ccc{border-bottom:1px solid #ccc;}
	
	.media-mx-w992-mg-r-30{margin-right:-30px;}
}
@media (max-width:767px){	/*모바일*/
	.media-mx-w767-font20{font-size:20px;}
	.media-mx-w767-font1_2rem{font-size:1.2rem;}
	.media-mx-w767-font1_5rem{font-size:1.5rem;}
	
	.media-mx-w767-block{display:block;}
	.media-mx-w767-none{display:none;}
	
	.media-mx-w767-float-none{float:none;}
	
	.media-mx-w767-overflow-y-auto{overflow-y:auto;}
	
	
	.media-mx-w767-h-auto{height:auto;}
	.media-mx-w767-h0{height:0	;}
	.media-mx-w767-h40{height:40px;}
	.media-mx-w767-h80{height:80px;}
	.media-mx-w767-h200{height:200px;}
	.media-mx-w767-h240{height:240px;}
	.media-mx-w767-h250{height:250px;}
	.media-mx-w767-h270{height:270px;}
	
	.media-mx-w767-mx-h100p, .media-mx-w767-max-h100p{height:100%;}
	
	.media-mx-w767-w125{width:125px;}
	.media-mx-w767-w200{width:200px;}
	.media-mx-w767-w300{width:300px;}
	.media-mx-w767-w45p{width:45%;}
	.media-mx-w767-w100p{width:100%;}

	.media-mx-w767-absolute{position:absolute;}
	.media-mx-w767-fixed{position:fixed;}

	.media-mx-w767-top0{top:0;}
	.media-mx-w767-top50{top:50px;}
	.media-mx-w767-bottom0{bottom:0;}
	.media-mx-w767-right-200{right:-200px;}
	.media-mx-w767-right0{right:0;}

	.media-mx-w767-mg-t10{margin-top:10px;}
	.media-mx-w767-mg-b10{margin-bottom:10px;}
	.MEDIA-MX-W767-MG-B10{margin-bottom:10px!important;}
	
	.media-mx-W767-mg-r10{margin-right:10px;}

	.media-mx-w767-pd-t50{padding-top:50px;}

	.media-mx-w767-mg-10auto{margin:10px auto;}

	.media-mx-w767-bg-fff{background:#fff;}
	.media-mx-w767-bg0{background:0;}
	.media-mx-w767-bg-ddd{background:#ddd;}

	.media-mx-w767-color-000{color:#000;}

	.media-mx-w767-border-t-ccc{border-top:1px solid #ccc;}
	.media-mx-w767-border-b-ccc{border-bottom:1px solid #ccc;}

	.media-mx-w767-scale0_8{transform:scale(0.8);}
}
@media (max-width:480px){	/*모바일*/
	.media-mx-w480-block{display:block;}
	
	.media-mx-w480-font14{font-size:14px;}
	.media-mx-w480-font16{font-size:16px;}
	.media-mx-w480-font18{font-size:18px;}
	.media-mx-w480-font22{font-size:22px;}
	.media-mx-w480-font40{font-size:40px;}
	
	.media-mx-w480-w100p{width:100%;}
	
	.media-mx-w480-w300{width:300px;}
	
	.MEDIA-MX-W480-H200{height:200px!important;}
	
	.media-mx-w480-mg-b10{margin-bottom:10px;}
	.media-mx-w480-mg-b20{margin-bottom:20px;}
	.media-mx-w480-mg-r-75{margin-right:-75px;}
	
	.media-mx-w480-pd3{padding:3px;}
	.media-mx-w480-pd0{padding:0;}
	
	.media-mx-w480-float-l{float:left;}
	
	.media-mx-w480-bg-000-0_3{background:rgba(0, 0, 0, .3);}
	
	.media-mx-w480-scale0_8{transform:scale(0.8);}
	
}
@media (max-width:420px){
	.media-mx-w420-block{display:block;}
	.media-mx-w420-pd-h0{padding-left:0; padding-right:0;}
	.media-mx-w420-mg-r-35{margin-right:-35px;}
	.media-mx-w420-mg-r-75{margin-right:-75px;}
	.media-mx-w420-mg-t-5{margin-top:5px;}
}
/*****media*****/